<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

        <bean id = "order" class = "com.ek.flooringmastery.dto.Order"/>
        <bean id = "product" class = "com.ek.flooringmastery.dto.Product"/>
        <bean id = "state" class = "com.ek.flooringmastery.dto.State"/>
        <bean id = "orderDao" class = "com.ek.flooringmastery.dao.OrderDaoFileImpl"/>
        <bean id = "productDao" class = "com.ek.flooringmastery.dao.ProductDaoFileImpl"/>
        <bean id = "stateDao" class = "com.ek.flooringmastery.dao.StateDaoFileImpl"/>
        <bean id = "service" class = "com.ek.flooringmastery.service.OrderCalculationServiceImpl"/>


</beans>